.file-input {
  display: inline-block;
  text-align: left;
  background: #7367f0;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  border-radius: 3px;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 6px 10px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  color: white;
}

.file-input.-chosen > .label {
  opacity: 1;
}